<ion-header>
  <ion-navbar color="dark">
    <!--<ion-buttons left>
  	  <button ion-button menuToggle>
  		    <ion-icon name="menu"></ion-icon>
  	  </button>
    </ion-buttons>-->
    <ion-title>
      Nearby Places
    </ion-title>

  </ion-navbar>
</ion-header>

<ion-content *ngIf="!pleaseWait">
	<ion-list>
		<ion-list-header>
		  Location in radius from: {{lat}}, lng: {{lng}}
		</ion-list-header>
        <button ion-item *ngFor="let location of locations" (click)="cc(location)" class="buttons">{{location.name}}</button>
		<button ion-button round (click)="addLocation()" class="buttons"> add new location </button>
	</ion-list>
</ion-content>

<ion-content *ngIf="pleaseWait">
	<ion-list>
		<ion-list-header>
		 Please wait....
		</ion-list-header>
   	</ion-list>
</ion-content>
