<!--  Author: ArthurSap  -->

<ion-header>
  <ion-navbar color="dark">

    <ion-title>
      Comments
    </ion-title>

  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list no-lines>

    <ion-item *ngIf="isLoggedin">
      <ion-input placeholder="Enter your comment here...." type="text" [(ngModel)]="userComm"></ion-input>
    </ion-item>

    <ion-buttons>
      <button ion-button round (click)="postComment()" *ngIf="isLoggedin">Post comment</button>
    </ion-buttons>

    <ion-card *ngFor="let comm of allComments">

      <ion-card-title>
        Comment by {{comm.commentator.username}}:
      </ion-card-title>

      <ion-card-content>
        {{comm.comment}}
      </ion-card-content>

    </ion-card>

  </ion-list>

</ion-content>
