<ion-header>

  <ion-navbar>
    <ion-title>navigation</ion-title>
	<ion-buttons end>
		<button ion-button *ngIf="!isLoggedin" [navPush]="loginPage">
			Login
		</button>
		<button ion-button *ngIf="isLoggedin" [navPush]="userProfile">
			User profile
		</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding  class="navigation">
	<ion-list>
		<ion-list-header>
		  {{isWork}},{{ll}}
		</ion-list-header>
    </ion-list>
	<button ion-button (click)="startNavigation()">startNavigation</button>
</ion-content>
