<!--  Author: ArthurSap  -->

<ion-header>
  <ion-navbar color="dark">
    <!--<ion-buttons left>
  	  <button ion-button menuToggle>
  		    <ion-icon name="menu"></ion-icon>
  	  </button>
    </ion-buttons>-->
    <ion-title>
      Reviews
    </ion-title>

  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list no-lines>
    <ion-list-header>
      {{name}}, {{address}}
    </ion-list-header>
    	<ion-buttons>
      		<button ion-button round *ngIf="isLoggedin && !userHasReview && ready" (click)="openAddReview()">Create Review</button>
    	</ion-buttons>
		<ion-card *ngFor="let rev of revs">
			<ion-card-title>
                {{rev.user.username}}
                <p>
                <ion-icon color="danger" *ngIf="rev.rating.score>=2" name="star"></ion-icon>
                <ion-icon color="danger" *ngIf="rev.rating.score>=1" name="star"></ion-icon>
                <ion-icon color="danger" *ngIf="rev.rating.score>=3" name="star"></ion-icon>
                <ion-icon color="danger" *ngIf="rev.rating.score>=4" name="star"></ion-icon>
                <ion-icon color="danger" *ngIf="rev.rating.score>=5" name="star"></ion-icon>
                <ion-icon color="danger" *ngIf="rev.rating.score==0" name="star-outline"></ion-icon>
                <ion-icon color="danger" *ngIf="rev.rating.score<=1" name="star-outline"></ion-icon>
                <ion-icon color="danger" *ngIf="rev.rating.score<=2" name="star-outline"></ion-icon>
                <ion-icon color="danger" *ngIf="rev.rating.score<=3" name="star-outline"></ion-icon>
                <ion-icon color="danger" *ngIf="rev.rating.score<=4" name="star-outline"></ion-icon>
                </p>
			</ion-card-title>
			<ion-card-content>
				<pre>{{rev.content}}</pre>
			</ion-card-content>
			<ion-row>
				<ion-col>
					<button ion-button icon-left small round (click)="like_dislike($event, rev, 1)">
						<ion-icon name="thumbs-up"></ion-icon>
						<div>{{rev.upvotes}}</div>
					</button>
				</ion-col>
				<ion-col>
					<button ion-button icon-left small round (click)="like_dislike($event, rev, -1)">
						<ion-icon name="thumbs-down"></ion-icon>
						<div>{{rev.downvotes}}</div>
					</button>
				</ion-col>
				<ion-col>
					<button ion-button icon-left round (click)="openCommentPage($event, rev)">
						<ion-icon name="text"></ion-icon>
						<div>{{rev.realComments.length}} Comments</div>
					</button>
				</ion-col>
			</ion-row>
      <ion-row *ngIf="isAdmin || rev == userReview">
        <ion-col>
          <button ion-button icon-left small round (click)="deleteReview($event, rev)">
            <ion-icon name="remove-circle"></ion-icon>
            <p>Delete review</p>
          </button>
        </ion-col>
        <ion-col *ngIf="isAdmin">
          <button ion-button icon-left small round (click)="pinUnpinReview($event, rev)">
            <ion-icon></ion-icon>
            <p *ngIf="!rev.pinned">Pin review</p>
            <p *ngIf="rev.pinned">Unpin review</p>
          </button>
        </ion-col>
      </ion-row>
		</ion-card>
  </ion-list>

</ion-content>
