
<ion-header>
  <ion-navbar color="dark">
    <!--<ion-buttons left>
  	  <button ion-button menuToggle>
  		    <ion-icon name="menu"></ion-icon>
  	  </button>
    </ion-buttons>-->
    <ion-title>
      Reviews
    </ion-title>

  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      {{name}}, ({{lat}}, {{lng}})
    </ion-list-header>
    	<ion-buttons>
      		<button ion-button round *ngIf="isLoggedin" (click)="openAddReview()">Create Review</button>
    	</ion-buttons>
		<ion-card *ngFor="let rev of revs">
			<ion-card-title>
				{{rev.user.username}}
			</ion-card-title>
			<ion-card-content>
				<p>Location score: {{rev.rating.score}}</p>
				<p>{{rev.content}}</p>
			</ion-card-content>
			<ion-row>
				<ion-col>
					<button ion-button icon-left small round (click)="like_dislike($event, rev.upvotes, rev, 1)">
						<ion-icon name="thumbs-up"></ion-icon>
						<div>{{rev.upvotes}}</div>
					</button>
				</ion-col>
				<ion-col>
					<button ion-button icon-left small round (click)="like_dislike($event, rev.downvotes, rev, -1)">
						<ion-icon name="thumbs-down"></ion-icon>
						<div>{{rev.downvotes}}</div>
					</button>
				</ion-col>
			</ion-row>
		</ion-card>
  </ion-list>

</ion-content>
