<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Map
    </ion-title>
	<ion-buttons end>
        <button ion-button *ngIf="!isLoggedin" [navPush]="loginPage">
            Login
        </button>
		<button ion-button *ngIf="isLoggedin" (click)="userprofile()">
            User profile
        </button> 
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card-content>
  Hello Users!<br />
   <button ion-button [navPush]="mapviewPage">Go To mapviewPage</button>
   <button ion-button [navPush]="adminPage">Admin Page</button>
   <button ion-button [navPush]="addReviewPage">Add Review</button>
   <button ion-button [navPush]="showReviews">Show Review</button>
   <button ion-button [@flip]="flipState" (click)="toggleFlip()">animation</button>


</ion-card-content>
</ion-content>

