<!--
  Generated template for the admin page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="dark">
    <ion-buttons left>
  	  <button ion-button menuToggle class="menu-toggle">
  		    <ion-icon name="menu"></ion-icon>
  	  </button>
    </ion-buttons>
    <ion-title>
      Admin Control Panel
    </ion-title>

  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-list-header>
      Welcome, <b>{{name}}</b>!
    </ion-list-header>

	<img src='http://localhost:8080/profileImg?userName={{name}}' />

	<ion-buttons>
          <button ion-button round (click)="getUserPage()"> {{name}} as A regular user</button>
    </ion-buttons>

    <ion-card>
      <ion-card-content>
        <ion-card-title>
          <ion-icon name="ribbon"></ion-icon>
          Your Helpfulness
          <ion-icon *ngIf="hlp > 0" name="happy"></ion-icon>
          <ion-icon *ngIf="hlp == 0" name="sad"></ion-icon>
          <ion-icon *ngIf="hlp < 0" name="sad"></ion-icon>
        </ion-card-title>
        <ion-list>
          <ion-item>
            <ion-label class="main-label" >Rating </ion-label>
            <ion-label>{{ rating }}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label class="main-label" >Numer of reviews </ion-label>
            <ion-label>{{ numOfReviews }}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label class="main-label" >Helpfulness </ion-label>
            <ion-label>{{ hlp }}</ion-label>
          </ion-item>
        <!--<img *ngIf="hlp > 0" class="emoji-image" src='../assets/img/great.png'/>
        <img *ngIf="hlp == 0" class="emoji-image" src='../assets/img/unhelpful.png'/>
        <img *ngIf="hlp < 0" class="emoji-image" src='../assets/img/bad.png'/>-->
        </ion-list>
      </ion-card-content>
    </ion-card>


    <ion-card>
      <ion-card-content>
        <ion-card-title class ="cardTitle">
          <ion-icon name="people"></ion-icon>
          Most Helpful Users
        </ion-card-title>

        <ion-item class="inputs">
          <ion-label class="main-label">Amount</ion-label>
          <ion-input [(ngModel)] = "n" type="number" placeholder="Insert a positive number"></ion-input>
        </ion-item>
		
		 <ion-buttons>
          <button ion-button round (click)="showUsers(n)">Show Me</button>
        </ion-buttons>
		
        </ion-card-content>
    </ion-card>


    <ion-card>
      <ion-card-content>
        <ion-card-title class ="cardTitle">
          <ion-icon name="compass"></ion-icon>
          Top Rated Locations
        </ion-card-title>
        <!--<p class="cardContent">
        Take a look at the most rated locations in the app: <br>
      </p>-->

        <ion-item class="inputs">
          <ion-label class="main-label" >Amount</ion-label>
          <ion-input [(ngModel)] = "numOfLocations" type="number" placeholder="Insert a number between 1 to 20"></ion-input>
        </ion-item>

        <ion-item class="inputs">
          <ion-label class="main-label" >Radius</ion-label>
          <ion-input [(ngModel)] = "radius" type="number" placeholder="Insert the radius in meters"></ion-input>
        </ion-item>

        <ion-item class="inputs">
          <ion-label class="main-label" >Start point</ion-label>
          <ion-input [(ngModel)] = "initLoc"  type="search" placeholder="Initial Location" class="text"></ion-input>
        </ion-item>

        <ion-buttons>
          <button ion-button round  (click)="showLocations(numOfLocations, radius, initLoc)">Show Me</button>
        </ion-buttons>

      </ion-card-content>
    </ion-card>


    <ion-card>
      <ion-card-content>
        <ion-card-title class ="cardTitle">
          <ion-icon name="information-circle"></ion-icon>
          General Info
        </ion-card-title>

        <ion-list>
          <ion-item>
            <ion-label class="main-label" >Registered Users </ion-label>
            <ion-label>{{ numOfUsers }}</ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>


  </ion-list>

</ion-content>
