page-admin {
	.cardTitle {
		color: #f2f2f2;
		background:  #00a3cc;
		font-size: 65px;
		text-align: center;
		line-height: 65px;
		font-weight: 700;
		margin: 0 5px 24px;
		float: left;
		padding: 10px;
		margin: 0 5px 24px;
		font-family: 'Libre Baskerville',
		serif;
	}
	
	.cardContent {
		 color: #2CA4B0;
		 font-family: 'Oleo Script', cursive;
		 font-size: 24px;
		 font-weight: normal;
		 line-height: 32px;
		 margin: 0 0 18px;
		 text-shadow: 1px 0 0 #fff;
	}
	
	 .login-button {
          width: 100%;
          border-radius: 30px;
          font-size: 0.9em;
          border: 1px solid #fff;
          background-color: #39acdc;
      }
	  
	   ion-item {
          border-radius: 30px !important;
          padding-left: 10px !important;
          margin-bottom: 10px;
          background-color: #f6f6f6;
          opacity: 0.7;
          font-size: 0.9em;
      }

}
