page-admin {
	.cardTitle {
		color: #f2f2f2;
		background: #ff4a4a;
		font-size: 75px;
		line-height: 74px;
		font-weight: 700;
		margin: 0 5px 24px;
		float: left;
		padding: 10px;
		margin: 0 5px 24px;
		font-family: 'Libre Baskerville',
		serif;
	}
	
	.cardContent {
		 color: #2CA4B0; font-family: 'Oleo Script', cursive; font-size: 24px; font-weight: normal; line-height: 32px; margin: 0 0 18px; text-shadow: 1px 0 0 #fff;
	}

}
