
<ion-header>
  <ion-navbar color="dark">
    <ion-buttons left>
  	  <button ion-button menuToggle class="menu-toggle">
  		    <ion-icon name="menu"></ion-icon>
  	  </button>
    </ion-buttons>
    <ion-title>
      Welcome, <b>{{UserName}}</b>!
    </ion-title>

  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-list-header>
      Your Search Queries
    </ion-list-header>

	  <button ion-button round (click)="addNewSearchQuery()">add New Search Query</button>

    <ion-card *ngFor="let query of quries">
      <ion-card-title class ="cardTitle">
        <ion-icon name="information-circle"></ion-icon>
        {{query.name}}
      </ion-card-title>
      <ion-card-content>
        <button ion-button round (click)="cc(query)" class="buttons">
          <ion-icon name='search'></ion-icon>
          Search
        </button>
      </ion-card-content>
    </ion-card>
  </ion-list>












    <!--<ion-card>
      <ion-card-content>

		<ion-list>
		 <div class="row">
		  <div class="col">
		 <button ion-button round *ngFor="let query of quries" (click)="cc(query)" class="buttons"></button>
		  </div>
		  <div class="col">
		 <button ion-button round *ngFor="let query of quries" (click)="ee(query)" class="buttons">Edit</button>
		  </div>
		 </div>
		</ion-list>
	 </ion-card-content>
    </ion-card>

  </ion-list>-->

</ion-content>
