// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


.md .button {
	background:url('../assets/img/buttons.png');
    font-weight: bold;
	font-size: 20px;
	text-align: justify;
	font-style: italic;
	text-color: light;
}

ion-content {
	background-image: url('../assets/img/background.jpg');
}

ion-header {
	text-align: center;
	background: transparent;
	text-shadow: 3px 2px red;
	color: danger;
	font-family: 'Oleo Script', cursive; font-size: 80px;
	font-weight: normal;
	line-height: 32px;
	margin: 0 0 18px;
	text-shadow: 1px 0 0 #fff;
}

.card-image {
    width: 50%;
    height: 50%;
	margin-left: auto;
    margin-right: auto
}