// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


.button {
  font-weight: bold;
	font-size: 22px;
	background-color: color($colors, accent);
  width: 95%;
}

.button:hover  {
  background-color: color($colors, danger) !important;
}

.scroll-content {
	/*display: flex;
	flex-direction: column;
	align-items: center;*/
}

.title.title-md {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    text-align: center;
}

ion-menu {
  color: color($colors, primary) !important;
}

ion-card-header {
  font-size: 36px;
  color: color($colors, primary-text) !important;
}

ion-card-title {
  font-size: 26px;
  color: color($colors, primary-text) !important;
}

ion-card {
  background-color: color($colors, primary) !important;
  color: color($colors, primary-text);
  text-align: center;
  font-size: 22px;
}

ion-item {
  background-color: transparent;
}

ion-content {
	/*background-image: url('../assets/img/background.jpg');*/
  background-color: color($colors, light) !important;
}

ion-header {
	text-align: center;
	background: transparent;
	text-shadow: 3px 2px red;
	color: color($colors, primary-text);
	font-family: 'roboto'; font-size: 80px;
	font-weight: normal;
	line-height: 32px;
	margin: 0 0 18px;
	text-shadow: 1px 0 0 #fff;
}

ion-buttons {
  text-align: center;
}

ion-navbar {
  color: color($colors, dark) !important;
}

ion-item {
  padding: 0px;
  margin: 0px;
}



.card-image {
    width: 50%;
    height: 50%;
	margin-left: auto;
    margin-right: auto
}
